.image-view-container {
    -fx-alignment: center;
    -fx-padding: 10px;
}

.item-node:hover {
    -fx-background-color: #d9e5e5;
}

.item-node.hidden {
    -fx-opacity: 0.4;
}

.item-node {
    -fx-background-color: none;
    -fx-background-insets: 10px;
    -fx-padding: 10px;
    -fx-background-radius: 10px;
    -fx-alignment: center;
}

.item-node > .label {
    -fx-alignment: bottom-center;
}

.item-node.franchise > .label1 {
    -fx-font-weight: bold;
}

.image-view {
    -fx-smooth: true;
}

.tile-pane-view {
    -fx-background-color: #F0FFFF;
    -fx-padding: 25px;
    -fx-alignment: baseline-center;
}

.album-view {
}

.album-node {
    -fx-min-width: 170px;
    -fx-min-height: 190px;
    -fx-max-width: 170px;
    -fx-max-height: 190px;
    -fx-background-insets: 2px;
}

.album-node > .image-view-container {
    -fx-max-width: 130px;
    -fx-max-height: 130px;
}

.product-view {
    -fx-pref-tile-width: 270px;
}

.product-node {
    -fx-max-width: 270px;
    -fx-max-height: 70px;
}

.product-node > .image-view-container {
    -fx-max-width: 240px;
    -fx-max-height: 70px;
}

.product-adder-node > .label1 {
    -fx-font: 40px "Arial";
    -fx-alignment: center;
}

.product-adder-node > .label2 {
    -fx-max-width: 160px;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.collected {
    -fx-background-color: #66cdaa;
}

.collected:hover {
    -fx-background-color: #d8f3ea;
}

.new {
    -fx-background-color: #fffacd;
}

.new:hover {
    -fx-background-color: #e6cf00;
}

.album-details-view > .image-view-container {
    -fx-padding: 30px;
    -fx-max-width: 250px;
    -fx-max-height: 250px;
}

.details > .label, .details > .track-list > .label {
    -fx-fit-to-width: true;
    -fx-fill-width: true;
    -fx-padding: 5px;
}

.album-details-view .label:hover {
    -fx-background-color: #d9e5e5;
}

.scroll-pane {
    -fx-fit-to-width: true;
    -fx-fill-height: true;
}

.status-bar {
    -fx-height: 22px;
    -fx-alignment: center-left;
}

.status-label {
    -fx-alignment: center;
    -fx-padding: 2px 20px 2px 20px;
}

.label {
    -fx-font: 12px "Meiryo";
}

.tab {
    -fx-font: 11px "Meiryo";
}
